<!-- Based on the D3 'Multi-Series Line Chart' sample code at http://bl.ocks.org/mbostock/3884955 -->

{% load staticfiles %}

<!DOCTYPE html>

<html>

    <head>

        <title>NBA 2015-2016 Rankings</title>
        <meta charset="utf-8">

        <!-- Load all Stylesheets here -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'seasons/season_style.css' %}" />
    
    </head>

    <body>

    </body>

</html>

<!-- ********************************************************************************************* -->

<!-- D3 -->
<script src="//d3js.org/d3.v3.min.js"></script>

<!-- Textures library for D3 -->
<script src="{% static 'seasons/textures.js' %}"></script>

<!-- Need to pass JSON data payload from backend into page -->
<script> var incomingData = {{jsonData|safe}}; </script>
<script src="{% static 'seasons/teams.js' %}"></script>
<script src="{% static 'seasons/season_grapher.js' %}"></script>