<!-- Based on the D3 'Multi-Series Line Chart' sample code at http://bl.ocks.org/mbostock/3884955 -->

{% load staticfiles %}

<!DOCTYPE html>

<html>

    <head>

        <title>NBA 2015-2016 Rankings</title>
        <meta charset="utf-8">

        <!-- Load all Stylesheets here -->
        <link rel="stylesheet" type="text/css" href="{% static 'seasons/style.css' %}" />
    
    </head>

    <body>

        <h2>2015-2016 NBA Season Standings</h2>
        <h3>(based on Win Percentage)</h3>

    </body>

</html>


<!-- Load all JavaScript down here -->
<script src="//d3js.org/d3.v3.min.js"></script>

<script>
    var incomingData = {{incomingJsonData|safe}};
</script>

<script src="{% static 'seasons/season_grapher.js' %}"></script>