body {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    /*stroke: steelblue;*/
    stroke-width: 12px;
}

.label {
    font-size: 16px;
    font-family: Lato;
}

.x.axis .tick {
  stroke-opacity: .1;
}

.y.axis .tick {
  stroke-opacity: .2;
}

.y.axis .tick:nth-child(8) line:nth-child(3) {
  stroke-opacity: 1;
  stroke-width: 5;
}

.overlay {
  fill: none;
  pointer-events: all;
}